.schedule {
	display: flex;
	flex-direction: row;
	width: 100%;
}
.schedule > div {
	flex: 1 1 0;
}
.schedule > :nth-child(2n) {
	background-color: #f0f0f0;
}
.schedule .tomorrow {
	background-color: #d0b0ff;
}
.schedule .cell-heading {
	text-align: center;
	font-weight: bold;
}
.schedule .cell {
	padding: 4px 8px;
}

@media screen and (max-width: 600px) {
	.schedule {
		flex-direction: column;
	}
}