<meta charset="utf8">

<style type="text/css">
	body {
		font-size: 80vh;
		text-align: center;
		line-height: 1;
	}
</style>

<div id="text"></div>
<input type="text" id="ans" onkeypress="if(event.keyCode === 13) next()">

<script>
	const letters = [
		["Α", "альфа"],
		["α", "альфа"],
		["Β", "бета"],
		["β", "бета"],
		["Γ", "гамма"],
		["γ", "гамма"],
		["Δ", "дельта"],
		["δ", "дельта"],
		["Ε", "эпсилон"],
		["ε", "эпсилон"],
		["Ζ", "дзета"],
		["ζ", "дзета"],
		["Η", "эта"],
		["η", "эта"],
		["Θ", "тета"],
		["θ", "тета"],
		["Ι", "йота"],
		["ι", "йота"],
		["Κ", "каппа"],
		["κ", "каппа"],
		["Λ", "лямбда"],
		["λ", "лямбда"],
		["Μ", "мю"],
		["μ", "мю"],
		["Ν", "ню"],
		["ν", "ню"],
		["Ξ", "кси"],
		["ξ", "кси"],
		["Ο", "омикрон"],
		["ο", "омикрон"],
		["Π", "пи"],
		["π", "пи"],
		["Ρ", "ро"],
		["ρ", "ро"],
		["Σ", "сигма"],
		["σ", "сигма"],
		["Τ", "тау"],
		["τ", "тау"],
		["Υ", "ипсилон"],
		["υ", "ипсилон"],
		["Φ", "фи"],
		["φ", "фи"],
		["Χ", "хи"],
		["χ", "хи"],
		["Ψ", "пси"],
		["ψ", "пси"],
		["Ω", "омега"],
		["ω", "омега"]
	];

	(async () => {
		letters.sort((a, b) => Math.random() - 0.5);

		for(const letter of letters) {
			text.innerHTML = letter[0];
			await new Promise(resolve => window.next = resolve);
			if(ans.value !== letter[1]) {
				alert(letter[1]);
			}
			ans.value = "";
		}

		alert("Готово");
	})();
</script>